.main_chat
  .main_chat__group-info
    %ul.main_chat__group-info__name
      %li.main_chat__group-info__name__group
        = @group.name
      %li.main_chat__group-info__name__member
        = "Member : "
        - @group.users.each do |user|
          = user.nickname
    = link_to "Edit", edit_group_path(@group.id), class: "main_chat__group-info__button"
  .main_chat__message-list
    = render @messages
  .main_chat__message-form
    = form_for [@group, @message], html: {class:'main_chat__message-form__form'} do |f|
      .main_chat__message-form__form__box
        = f.text_field :body, class: 'main_chat__message-form__form__box__input',placeholder: 'type a message'
        .main_chat__message-form__form__box__boxes
          = f.label :image, class: 'main_chat__message-form__form__box__boxes__icon' do
            = icon('far', 'image fa-2x',class: 'main_chat__message-form__form__box__boxes__icon')
            = f.file_field :image, class: 'main_chat__message-form__form__box__boxes__label'
      = f.submit 'Send', class: 'main_chat__message-form__button'